<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/bootstrap337/css/zui.min.css">
    <script src="/bootstrap337/js/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap337/js/zui.min.js"></script>
</head>
<body>
    <div style="margin: 100px;margin-top: 10px;width: 400px;" id="form">
        <form action="/userLogin" method="post">
            <ul>
                <li style="margin-top: 10px;list-style-type: none"><input type="text" name="username" class="form-control" placeholder="用户名"></li>
                <li style="margin-top: 10px;list-style-type: none"><input type="password" name="password" class="form-control" placeholder="密码"></li>
                <li tyle="margin-top: 10px;list-style-type: none"><input type="submit" class='btn btn-primary' value="提交 "></li>
            </ul>
        </form>
    </div>
</body>
</html>