<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userIndex</title>
    <link rel="stylesheet" href="/bootstrap337/css/zui.min.css">
    <script src="/bootstrap337/js/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap337/js/zui.min.js"></script>
    <script src="/bootstrap337/js/jquery.cookie.js"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-inverse" role="navigation">
            <ul  class="nav navbar-nav">
                <li class="actives" style="margin-left: 20px"><a id="bookOrder">图书选购</a></li>
                <li style="margin-left: 20px"><a id="shoppingCart">购物车</a></li>
                <li style="margin-left: 20px"><a id="borderManger">订单查询</a></li>
            </ul>
        </nav>
    </div>
    <div style="margin: 100px;margin-top: 10px" class="hidden" id="table">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>书编号</th>
                <th>书名</th>
                <th>价格</th>
                <th>作者</th>
                <th>出版社</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
    <div style="margin: 100px;margin-top: 10px" class="hidden" id="table2">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>书编号</th>
                <th>书名</th>
                <th>价格</th>
                <th>作者</th>
                <th>出版社</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="tbody2">
            </tbody>
        </table>
    </div>
</body>
<script>
    $(function () {
        getBook();
        $("#bookOrder").click(function () {
            getBook();
        });
        $("#shoppingCart").click(function () {
            $.ajax({
                url:"/getAllBookInCart",
                type:"get",
                data:"cid="+$.cookie("username"),
                success:function (data) {
                    if (null != data){
                        console.log(data);
                        for (var i = 0; i < data.length; i++) {
                            $("#tbody2").append("<tr>\n" +
                                "<td>"+ data[i].bid +"</td>\n" +
                                "<td>"+data[i].bname+"</td>\n" +
                                "<td>"+data[i].price+"</td>\n" +
                                "<td>"+data[i].author+"</td>\n" +
                                "<td>"+data[i].press+"</td>\n" +
                                "<td>" +
                                "<button class='btn btn-primary btn-delete' value='"+data[i].bid+"' type='button' style='margin-left: 8px;margin-right: 8px'>删除</button>" +
                                "</td>\n" +
                                "</tr>");
                        }
                        $("#table").addClass("hidden");
                        $("#table2").removeClass("hidden");
                        $(".btn-delete").click(function () {
                            $.ajax({
                                url:"/deleteBookInCart",
                                type:"get",
                                context:$(this).parents("tr"),
                                data:"cid="+$.cookie("username")+"&bid="+$(this).val(),
                                success:function (data) {
                                    if (null != data){
                                        if (data){
                                            $(this).remove();
                                        } else{
                                            alert("失败");
                                        }
                                    }
                                }
                            });
                        });
                    }
                }
            });
        });
    });
    function getBook() {
        $("#tbody").children().remove();
        $.ajax({
            url:"/getAll",
            type:"get",
            datatype:"json",
            success:function (data) {
                if(null != data){
                    for (var i = 0; i < data.length; i++) {
                        $("#tbody").append("<tr>\n" +
                            "<td>"+ data[i].bid +"</td>\n" +
                            "<td>"+data[i].bname+"</td>\n" +
                            "<td>"+data[i].price+"</td>\n" +
                            "<td>"+data[i].author+"</td>\n" +
                            "<td>"+data[i].press+"</td>\n" +
                            "<td>" +
                            "<button class='btn btn-primary btn-addcart' value='"+data[i].bid+"' type='button' style='margin-left: 8px;margin-right: 8px'>加入购物车</button>" +
                            "</td>\n" +
                            "</tr>");
                    }
                    $("#table").removeClass("hidden");
                    $("#table2").addClass("hidden");
                    $(".btn-addcart").click(function () {

                        $.ajax({
                            url:"/insertBookToCart",
                            type:"get",
                            data:"cid="+$.cookie("username")+"&bid="+$(this).val(),
                            success:function (data) {
                                if(null != data){
                                    if(data){
                                        alert("成功");
                                    }else{
                                        alert("失败");
                                    }
                                }
                            }
                        });
                    });
                }
            }
        });
    }
</script>
</html>